<div  class="panel panel-success" id="home">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "Tools", "/tools"  %></h3>
  </div>

  <table class="table table-hover">
    <% @tools.each do |tool| %>
      <tr>
        <td><%= tool.name %></td>
        <td><%= tool.status %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= link_to "See all tools", tools_path %></td>
    </tr>
  </table>


</div>
