


<div  class="panel panel-success" id="user_account">
  <div class="panel-heading">
    <h3 class="panel-title">Account Information</h3></div>

    <table class="table table-hover">

        <tr>
          <td>
          <%= @user.name%>
        </td>
        </tr>

        <tr>
          <td>
        <%= @user.email %>
      </td>
      </tr>

      <tr>
        <td>
        <%= button_to "Edit", "/users/#{@user.id}/edit", {class: 'btn btn-warning'} %>
      </td>
      </tr>

      <tr>
        <td>
        <%= button_to "Request Admin", admin_req_path, {class: 'btn btn-info'} %>   </td></tr>




      </td>


    </table>

  </div>
