<% if $redis.get("temperature") == "unavailable" %>
  <p>Weather currently unavailable, sorry! </p>
<% else %>
  <strong>Seattle, WA</strong> |
  <%= weather.temp %>° |
  <%= image_tag weather.icon, class: "weather-icon" %> |
  <%= weather.description %>
<% end %>
