<% if temperature == "unavailable" %>
  <p>Weather currently unavailable, sorry! </p>
<% else %>
  <strong>Seattle, WA</strong> |
  Current temp: <%= $redis.get("temperature") %>° |
  <%= image_tag $redis.get("icon"), class: "weather-icon" %> |
  <%= $redis.get("description") %>
  <%= $redis.get("time_of_call") %>
<% end %>
