
<br>

<div class="row home-page">
  <div class="col-sm-4 ">
    <!-- PARTIAL FOR NEWS -->
    <%= render "/posts/show" %>
  </div>


  <div class="col-sm-4">
    <!-- PARTIAL FOR TOOLS -->
    <%= render "/events/show" %>
  </div>

  <div class="col-sm-4 ">
    <%= render "/tools/show" %>
  </div>
</div>
