<h1>PeaPatchPlannnneneeerrrrr</h1>


<%= bootstrap_form_for @login_user do |f|%>

<div><%= f.text_field :name, label: "Username", icon: "user" %></div>


<div><%= f.password_field :password %></div>

<div><%= f.submit %></div>

<% end %>
</div>
