<div class="col-md-4">
  PARTIAL FOR NEWS
  <%= render "/events/show" %>
</div>


<div class="col-md-4">
  PARTIAL FOR TOOLS
  <%= render "/events/show" %>
</div>

<div class="col-md-4">
  <%= render "/events/show" %>
</div>
