<div  class="panel panel-success" id="home">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "Events", "/events"  %></h3></div>

    <table class="table table-hover">
    <%   @events.first(10).each do |meeting| %>
      <tr>
        <td><%= link_to meeting.title, show_event_path(meeting.id)  %></td>
        <td><%=  meeting.date.strftime('%B %d, %Y') %></td>

      </tr>
    <% end %>

    <tr>
      <td colspan="2"><%= link_to "See all events", events_path %></td>
    </tr>

    </table>

</div>
