  <div  class="panel panel-success" id="home">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to "News", "/posts"  %></h3>
    </div>

    <table class="table table-hover">
      <% @posts.each do |post| %>
        <tr>
          <td>
            <%= link_to post.title, post_path(post.id) %>
            <%= post.created_at.strftime("%B %d, %Y") %>
          </td>
        </tr>
      <% end %>
    </table>
      <%= link_to "See More Posts", posts_path, class: "panel-link" %>

  </div>
