@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";

// * {
//   border: 1px solid pink;
// }

body {
  margin: 15px;
  background-image: url("sweet-peas.jpg");

}


.header {
  margin-bottom: 15px;
  width: 100%
}

.header h1{
  text-align: left;
  float: left;
}

.login {
  margin: 15px;
  text-align: right;

}

.login_field {
  display:inline-block;
}

.twitter {
  background-color: #24c6df;
}

.prev-month {
  background-color: grey;
  opacity: .7;
}

.next-month {
  background-color: grey;

}
.day {
  background-color: white;
  padding: 5px;
  height: 100px;
  width: 150px;
  border: 1px solid black ;
  vertical-align: text-top;

}

.event_btn {
  margin-bottom: 2px;
  display: block;

}

.dropdown-menu p{
  margin-left: 5px;

}

.meetings {
  color: green;
}

.new_event{
  width: 200px;

}

#home.panel p{
  padding: 5px;
  min-height: 450px;

}
