@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";

// * {
//   border: 1px solid pink;
// }

body {
  margin: 40px;
  background-image: url("sweet-peas.jpg");
}

hr {
  margin-bottom: 10px;
  margin-top: 10px;
  border: dashed;
  border-color: whitesmoke;
}

.header h1 a{
  text-decoration: none;
  color: black;
}
.header {
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 15px;
  width: 100%
}

.header h1{
  text-align: left;
  float: left;
}

.navbar-custom {
  background-color: rgba(186,222,152, .6);
  border-color: rgba (186,222,152, .6);


}

.navbar {
  background-color: rgba(186,222,152, .6);
  border: none;
}

ul.nav.navbar-nav.navbar-right {
  margin-left: 15px;
}

.panel {
  background: rgba(255,255,255, .8);
  }



.login {
  text-align: right;
  padding-bottom: 5px;

}

.logout {
  margin-top: 3px;
  margin-left: 3px;

}

.my-account {
  margin-top: 3px;
  margin-left: 3px;
}

.login_field {
  display:inline-block;
}

.new_account{
  // margin-right: 29px;
  margin-top: 28px;
  margin-left: 5px;
  // display: inline-block;
}

.twitter-button {
  margin-top: 28px;
  margin-left: 2px;
}

.new_user {
  display: inline-block;
  // background-color: rgba(186,222,152, .6);
  width: 100%;
  padding: 5px;
  margin-top: 20px;
}

.twitter {
  background-color: #24c6df;
}

.calendar-header {
  font-size: 20px
}

.calendar_style {
  margin-top: 15px;
}

.calendar_style thead {
  background-color: rgb(186,222,152);

}

.calendar_style th{
  text-align: center;
  border: 1px solid rgb(186,222,152) ;
  height: 35px;


}

button#cal_button a {
  color: white;
  text-decoration: none;
}


.prev-month {
  background-color: grey;
  opacity: .7;
}

.next-month {
  background-color: grey;
  opacity: .7;

}
.day {
  background-color: white;
  padding: 5px;
  height: 100px;
  width: 150px;
  border: 1px solid rgb(186,222,152) ;
  vertical-align: text-top;

}

.event_btn {
  margin-bottom: 2px;
  display: block;

}

.dropdown-menu p{
  margin-left: 5px;

}

.meetings {
  color: green;
}

.weather {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  border-radius: 3px;
}

.weather h3 {
  margin-top: 5px;
}

.weather-bar {
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 3px;
  padding-right: 3px;

  // padding-top: 5px;
  // padding-bottom: 5px;
  background-color: rgba(186,222,152, .6);
  display: inline-block;
  border-radius: 3px;
}

.weather-icon {
  padding: 3px;
  height: 40px;
}

.weather-info {
  display: inline-block;
}

.current-weather {
  // display: inline-block;
  text-align: center
}

.new_event{
  width: 200px;

}

#home.panel p {
  padding: 5px;
  // min-height: 450px;

}

.tools-table {
  background-color: rgba(186,222,152, .6);
  padding: 10px;
  border-radius: 3px;
}

.home-post-link {
  margin: 5px;
}

.home-post-link p {
  margin-bottom: 0;
}

.home-post-link .date {
  float: right;
  display: inline-block;
}

.home-page {
  margin-left: -30px;
  margin-right: -30px;
  margin-top: -15px;

}

.home-page a:hover {
  text-decoration: none;
  color: #894791;
}

.news-article {
  padding: 10px;
  background-color: rgba(186,222,152, .6);
}


#disqus_thread {
  background-color: rgba(186,222,152, .6);
  // color: black;
  padding: 10px;
}

.navbar-default .navbar-toggle {
  margin-top: 100px;
}

.new_post, .edit_post {
  background-color: rgba(186,222,152, .6);
  padding: 10px;
}


#user_account.panel  {
  width: 400px;
  text-align: center;

  margin: 0 auto;


}

.forecast-table > tbody > tr > th, .forecast-table > tbody > tr > td {
  padding: 2px;
  text-align: center;
  background-color: rgb(186,222,152);
  // border: 1px solid #999999;
  // border-color: #919191;
}

.forecast-table {
  max-width: 500px;
  margin: 5px auto 15px auto;
}

.btn-primary {
  background-color: #894791;
  border: none;
}

.btn-primary:hover {
  background-color: #9e55ad;
}

.table-cell-link {
  display: block;
  text-decoration: none;
  color: black;
}

.table-cell-link:hover {
  text-decoration: none;
  color: black;
}

.post-list-item a {
  padding: 5px;
  border-bottom: 1px solid whitesmoke;
}

.post-list-item a {
  display: block;
  color: black;
}

.post-list-item a:hover {
  background-color: whitesmoke;
  text-decoration: none;
  color: #9e55ad;

}

.or {
  text-align:center;
  // background-color: #bcbcbc;
  border-radius: 10px;
  margin-top: 125px;
}

.twitter-auth-button {
  margin-top: 125px;
}

.new-user-content {
  background-color: rgba(186,222,152, .6);
}

@media (max-width: 898px) {
  .new_account {
    margin-top: 0;
    margin-bottom: 3px;
  }

  .twitter-button {
    margin-top: 0;
    margin-bottom: 3px;
  }
}
